.axis {
  font-family: "Lobster";
  font-size: 14px;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
}

.x.axis path {
  display: none;
}

.y.axis text {
  fill: #000;
}

.line {
  fill: none;
  stroke: #4682b4;
  stroke-width: 3px;
}

.tooltip {
  background: #b0c4de;
  border: 0;
  border-radius: 8px;
  font-family: "Lobster";
  font-size: 12px;
  font-weight: bold;
  height: 80px;
  padding: 2px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 120px;
}
.tooltip span {
  color: #000;
}




/* .line--section {
    margin-top: 3rem;
  }

.line--section2 {
  margin-top: 3rem;
}
.line--wrapper {
  width: 100%;
}
@media only screen and (min-width: 960px) {
  .line--wrapper {
    width: calc(100% / 3);
  }
} */

.axis {
  font-family: "Lobster";
  font-size: 14px;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
}

.x.axis path {
  display: none;
}

.y.axis text {
  fill: #000;
}

.line2 {
  fill: none;
  stroke: #4682b4;
  stroke-width: 3px;
}

.tooltip2 {
  background: #b0c4de;
  border: 0;
  border-radius: 8px;
  font-family: "Lobster";
  font-size: 12px;
  font-weight: bold;
  height: 80px;
  padding: 2px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 120px;
}
.tooltip2 span {
  color: #000;
}



